.mail-list {
  width: 100%;
  margin-top: 50px;
  background-color: #003580;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.mail-title {
  font-size: 20px;
}

.mail-container > input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  outline: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mail-container > button {
  height: 30px;
  background-color: #0071c2;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 5px;
}
